.FullCountry {
  padding: 0 var(--container-padding);
  margin-top: 3rem;
}
.back {
  background-color: var(--section-color);
  font-size: 1.6rem;
  border: none;
  padding: 0.5rem 3rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.back > i {
  margin-right: 0.8rem;
  font-size: 1.2em;
}

.body {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem;
}

.img {
  max-width: 50rem;
}
.img > img {
  width: 100%;
}

.info {
}
.info > h3 {
  font-size: 2.5rem;
}

.furtherInfo {
  margin: 2rem 0 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
}
.furtherInfo p {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.furtherInfo p > span:first-child {
  font-weight: 600;
  margin-right: 0.3rem;
}

.border {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.border > p {
  font-weight: 600;
  font-size: 1.5rem;
  margin-right: 2rem;
}
.border > div {
  margin-bottom: 1rem;
}
.border button {
  border: none;
  background-color: var(--section-color);
  margin-right: 1rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.45rem;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
}
