.Filter {
  border: none;
  background-color: var(--section-color);
  font-size: 1.6rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 4rem 1rem 2rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background-image: url(../../icons/angle-down-solid.svg);
  background-repeat: no-repeat;
  background-size: 1.3rem;
  background-position: 90%;
}

@media (max-width: 650px) {
  .Filter {
    margin-top: 1rem;
  }
}
